
.block-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--umbrl-black);
    font-size: 1.3rem;
    cursor: pointer;

    i:hover {
        color: var(--grey);
    }
}

div.input-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

div.status-icon {
    color: var(--umbrl-navy);
}

div.action-icon {
    background: transparent;
    color: var(--umbrl-black);
    border-radius: var(--radius-small);
    transition: all 0.2s;

    cursor: pointer;

    &:hover {
        background: var(--umbrl-gray-3);

        i {
            color: var(--umbrl-navy);
        }
    }

    i {
        padding: var(--gap-medium);
    }
}


nav div.action-icon {

    font-size: 1.25rem;
    color: var(--umbrl-white);
    background: var(--umbrl-gray-2);
    border-radius: var(--radius-small);

    i {
        font-size: 1.25rem;
    }
}

.pill-icon {
    background: var(--umbrl-gray-1);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background: var(--umbrl-gray-2);
    }
}

.pill-widget .pill-icon {
    background: var(--umbrl-white);
}