.screen {
    ul {
        padding: 0;//var(--gap-small) 0;
        margin: 0;//var(--gap-small) 0;

        li {
            list-style-type: disc;
            list-style-position: inside;
        }

        &.list-check {
            li {
                list-style-type: none;
                padding: var(--gap-small) 0;
                
                i {
                    margin-right: var(--gap-medium);
                    color: var(--umbrl-primary);
                }
            }
        }
        &.list-check-large {
            li {
                font-size: 1.2rem!important;
                margin: 0.5rem 0;
                
                i {
                    font-size: 1.5rem!important;
                }
            }
        }
    }
}

ul.numbered-list {
    padding: var(--gap-small) 0;
    margin: var(--gap-big) 0;

    li {
        list-style-type: none;
        align-items: flex-start;
        margin-bottom: var(--gap-medium);

        & > span {
            width: 25px;
            color: var(--umbrl-white);
            background: var(--umbrl-navy);
            border-radius: 50%;
            margin-right: var(--gap-small);
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        div {
            padding: 0 var(--gap-medium);
            flex: 2;
            span {
                padding: var(--gap-small) 0;
                display: block;
                padding-top: 0;
                // &:first-child {
                //     font-weight: bold;
                // }
            }
        }

        h4 {
            margin-top: 0;
            padding-top: 0;
        }
    }

    &.as-title {
        margin: var(--gap-big) 0 0;
        
       
    }

}

.screen ul.steps-orchestrator {

    li {
        list-style: none;
    }
    li.step-ready {
        padding: var(--gap-medium) var(--gap-large);
        margin: var(--gap-big) 0;

        > div.resume-title {

            h3 {
                // padding-bottom: 0;
                text-transform: capitalize;
                color: var(--umbrl-navy);
            }
        }

        > div.resume-items {
            margin-top: 0;

            p {
                text-transform: capitalize;

                &.email {
                    text-transform: lowercase;
                }

                &:first-child {
                    padding-top: 0;
                    margin-top: 0;
                }
            }
        }

        
    }
    
    li.step-current {
        transition: opacity 0.4s;
        border: none;
        padding: var(--gap-large) 0;
        
        h3 {
            padding: var(--gap-large) 0 0;
            margin: 0;
        }
    
        form {
            // padding: var(--gap-large) 0;
        }
    }
}

ul.selectable-list {
    li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: var(--gap-medium) 0;
        border-bottom: 1px solid var(--umbrl-gray-2);
        padding-bottom: var(--gap-medium);

        &:last-child {
            border-bottom: none;
        }

        span {
            text-transform: capitalize;
        }

        > div {
            padding-right: var(--gap-large);
            width: 60%;
        }
       
        
    }
}

ul.selected-things-list {

    background: var(--umbrl-gray-2);
    padding: var(--gap-medium);
    border-radius: var(--radius-regular);

    li {
        list-style: none;

        &.disabled {
            opacity: 0.6;
        }

        span:first-child {
            min-width: 50%;
        }

        > div.thing-detail {
            padding: var(--gap-medium);
            text-transform: capitalize;
            // font-weight: bold;
        }
    }

    &.resume {
        background: transparent;
        padding: var(--gap-medium);
        background: var(--umbrl-gray-2);
    }
}