html {
    font-family: var(--font-inter);
}

h1 {
    font-size: 2.5rem;
    padding: 0 0 0;
    margin: 0;
}

.header {
    h1 {
        font-size: 3.5rem;
        text-align: center;
        padding: 0 0 var(--gap-large) 0;
        margin: 0 0 var(--gap-medium) 0;
        line-height: var(--gap-large);
    }
}

.umbrl {
    font-family: ubuntutitle;
}

h1.big-logo {
    font-size: 4rem;
    margin-top: var(--gap-big);
}

h1.jumbo-logo {
    font-size: 6rem;
    margin-top: var(--gap-huge);
    text-align: center;
    color: var(--umbrl-green);
}



    h1.in-page {
        padding: var(--gap-medium) 0;
        margin: var(--gap-medium) 0;
        /* margin-top: -1rem; */
        line-height: 1.5rem;
    }

    .choose-features h1.in-page {
        margin: var(--gap-big) 0;
    }

    h2 {
        padding: var(--gap-medium) 0 var(--gap-medium) 0;
        margin: var(--gap-medium) 0 var(--gap-medium) 0;
        // font-family: var(--font-inter-b-plus);
        // font-weight: 500;
    }


    h3 {
        padding: var(--gap-medium) 0;
        margin: var(--gap-small) 0;
        // text-transform: capitalize;
        // font-family: var(--font-inter-b);
        // font-weight: 500;
        // font-weight: bold;
        img {   
            width: 25px;
            height: 25px;
        }

        &.with-icon {
            justify-content: flex-start;
        }

    }
    h4 {
        padding: var(--gap-small) 0;
        margin: var(--gap-small) 0;
        // font-family: var(--font-inter-b);
        // font-weight: 500;
        // font-weight: bold;
        text-align: left;
    }

    p {
        padding:  0;
        margin: var(--gap-small) 0;
        color: var(--umbrl-black);
        text-align: left;

        &.centered {
            text-align: center;
        }

        &.no-pad {
            padding: 0;
            margin: 0;
        }
    }

    a {
        text-transform: capitalize;
        color: var(--umbrl-black);
    }

    p > i.fa-check {
        color: green;
    }

    p > i.fa-xmark {
        color: red;
    }

    label {
        // font-family: var(--font-inter-b);
    }

    


.umbrl-btn {
    box-shadow: 0 6px 2px -2px var(--umbrl-green-dark);
    color: var(--umbrl-secondary)!important;
    // font-size: 1.1rem;
    // font-weight: 600;

    &.disabled {
        background: var(--umbrl-gray-4)!important;
        color: var(--umbrl-white)!important;

        i {
            color: var(--umbrl-gray-1);
        }

        box-shadow: 0 6px 2px -2px var(--umbrl-black);
    }

    &.as-secondary {
        box-shadow: 0 6px 2px -2px var(--umbrl-secondary);
        color: var(--umbrl-white)!important;
        i {
            color: var(--umbrl-white)!important;
        }
    }

    &.secondary {
        box-shadow: 0 6px 2px -2px var(--umbrl-secondary);
        i {
            color: var(--umbrl-white)!important;
        }
    }

    &.generic {
        box-shadow: 0 6px 2px -2px var(--umbrl-gray-2);
    }

    i {
        background: var(--umbrl-secondary);
        border-radius: 50%;
        padding: var(--gap-medium);
        color: var(--umbrl-primary);
        font-size: 0.75rem;
    }
}

p > i, h4 > i, li > i, h3 > i {
    margin-right: var(--gap-medium);
}

.accordion-container {
    h2 {
        margin: var(--gap-small) 0;
        padding: var(--gap-small) 0;
        // font-weight: normal;
        // font-family: var(--font-inter);

        span {
            display: block;
            text-align: left;
            margin: 0;
            font-size: 1rem !important;
            text-transform: none;
            color: var(--umbrl-black);
        }
    }
}

button, a {
    color: var(--umbrl-black)!important;

    // &.secondary {
    //     color: var(--umbrl-white)!important;
    // }
}


.email-field {
    p, h3, h4, span {
        text-transform: lowercase!important;
    }
    
}