.bg-default-400 {
    background-color: var(--umbrl-navy)!important;
}

.font-bold {
    font-weight: bold!important;
}

.border-default-200 {
    --tw-border-opacity: none; 
    border-color: none;
}