@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ubuntutitle';
  src: url('/fonts/Ubuntu-Title.ttf');
}

:root {
  --gap-micro: 0.1rem;
  --gap-small: 0.25rem;
  --gap-medium: 0.3rem;
  --gap-large: 0.5rem;
  --gap-big: 1rem;
  --gap-huge: 2rem;
  --gap-massive: 4rem;

  --z-1: 1;
  --z-2: 11;
  --z-3: 111;
  --z-4: 1111;

  --page-fixed-gap-top: 80px;
  --page-fixed-gap-footer: 100px;
  --page-fixed-gap-footer-with-price: 130px;

  --radius-small: 0.2rem;
  --radius-regular: 0.5rem;
  --radius-big: 1.5rem;

  --umbrl-gray-1: #f5f5f5;
  --umbrl-gray-1-5: #ebebeb;
  --umbrl-gray-2: #dedede;
  --umbrl-gray-3: #979797;
  --umbrl-gray-4: #535353;
  --umbrl-black: #000;
  --umbrl-green: #76daa3;
  --umbrl-green-dark: #6dc294;
  --umbrl-navy: #223d79;
  --umbrl-navy-dark: #102757;
  --umbrl-mustard: #ffba53;
  --umbrl-orange: #F16300;
  --umbrl-white: #fff;

  --umbrl-primary: var(--umbrl-green);
  --umbrl-secondary: var(--umbrl-navy);

  --error-red: #c90e0e;

  --checkmark-section-height: 13rem;
  --checkmark-fill-color: var(--umbrl-navy);
  --checkmark-arrow-color: var(--umbrl-white);
  --checkmark-arrow-thickness: 5;

  --breakpoint-desktop: 976px;
}

:root {
  --ws-gap-micro: 0.1rem;
  --ws-gap-small: 0.2rem;
  --ws-gap-medium: 0.3rem;
  --ws-gap-large: 0.5rem;
  --ws-gap-big: 0.7rem;
  --ws-gap-huge: 1rem;
  --ws-gap-massive: 2.5rem;

  --ws-page-fixed-gap-top: 5px;

  --ws-text-main: #000000;
  --ws-text-evidence: #223d79;
  --ws-text-inset: #fff;

  --ws-bg-widget : #000;
  --ws-bg-main: #76daa3;
  --ws-bg-evidence: #223d79;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
}
